@font-face {
  font-family: Mahjong;
  src: url(/public/assets/fonts/mahjong.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Miraero;
  src: url(/public/assets/fonts/MiraeroNormal.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Miraero;
}

.block {
  background: pink;
}

.selected {
  background: orange;
}

.empty {
  border: 0.5px solid transparent;
}

.cell {
  font-family: 'Mahjong', sans-serif;
  border: 0.5px solid black;
  width: 41px;
  height: 49px;
  position: relative;
  text-align: center;
  font-size: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 42px);
  grid-template-rows: repeat(15, 50px);
  width: 630px;
  height: 750px;
  background: gainsboro;
}

.panel {
  width: 614px;
  height: 100px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid black;
}

.bottom-line::before {
  content: '';
  display: block;
  height: 50px;
  width: 2px;
  transform: translate(21px, 25px);
  background-color: black; 
  position: fixed;
  z-index: 99;
}

.top-line::before {
  content: '';
  display: block;
  height: 50px;
  width: 2px;
  transform: translate(21px, -25px);
  background-color: black; 
  position: fixed;
  z-index: 99;
}

.right-line::before {
  content: '';
  display: block;
  height: 2px;
  width: 43px;
  transform: translate(-21px, 25px);
  background-color: black; 
  position: fixed;
  z-index: 99;
}

.left-line::before {
  content: '';
  display: block;
  height: 2px;
  width: 43px;
  transform: translate(21px, 25px);
  background-color: black; 
  position: fixed;
  z-index: 99;
}